{% block content %}

<table style="width:100%">
	<tr>
		<th>Nome</th> 
		<th>UF</th>
		<th>Tipo de IE</th>
		<th>Nota</th>
		<th>Orçamento</th>
		<th>Endowment</th>
	</tr>
	
	{% for universidade in universidades %}
	
	<tr>
		<th>{{ universidade.nome }}</th> 
		<th>{{ universidade.uf }}</th>
		<th>{{ universidade.tipo_ie }}</th>
		<th>{{ universidade.nota_capital_financeiro }}</th>
		<th>{{ universidade.orcamento_cap }}</th>
		<th>{{ universidade.endowment_cap }}</th>
	</tr>

	{% endfor %}
</table>

{% endblock %}